numpy
torch
matplotlib
pandas
akshare
python-dotenv
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
sentence-transformers
scikit-learn
optuna
fastapi
uvicorn
apscheduler
python-multipart
