numpy
torch
einops==0.8.1
huggingface_hub>=0.33.1
safetensors>=0.6.2
tqdm>=4.67.1
matplotlib
pandas
akshare
python-dotenv
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
sentence-transformers
scikit-learn
optuna
fastapi
uvicorn
apscheduler
python-multipart
reportlab
